
<templates>
  <div t-name="Card" class="card" t-att-class="state.showContent ? 'full' : 'small'">
    <div class="card-title">
      <t t-esc="props.title"/><button t-on-click="toggleDisplay">Toggle</button>
    </div>
    <t t-if="state.showContent">
      <div class="card-content" >
        <t t-slot="content"/>
      </div>
      <div class="card-footer">
        <t t-slot="footer"/>
      </div>
    </t>
  </div>

  <div t-name="Counter">
    <t t-esc="state.val"/><button t-on-click="inc">Inc</button>
  </div>

  <div t-name="Bit" class="bit" />

  <div t-name="LedRow" class="row">
      <!-- <span><t t-esc="props.value"/></span> -->
      <t t-foreach="[4,3,2,1,0]" t-as="bit" t-key="bit_index">
        <span t-attf-class="bit bit-#{(props.value >> bit) &amp; 1}"></span>

      </t>
  </div>


  <div t-name="Char" class="char">
      <!-- <li><t t-esc="elem"/></li> -->
     <t t-foreach="props.data" t-as="num" t-key="num_index">
      <LedRow value="num"/>
     </t>
  </div>

  <div t-name="Root" class="main">
    <!-- <Char data="state.data" />
    <Char data="state.data2" /> -->
    <div class="lcd">
     <t t-foreach="state.planes" t-as="plane" t-key="plane_index">
      <t t-if="plane.length > 0">
        <Char data="plane" />
      </t>
      <t t-else="">
        <Char data="[0,0,0,0,0,0,0,0]" />
      </t>
     </t>
     <div class="filler" />
     </div>

    <!-- <Card title="'Title card A'">
      <t t-set-slot="content">Content of card 1...  [<t t-esc="state.a"/>]</t>
      <t t-set-slot="footer"><button t-on-click="() => this.inc('a', 1)">Increment A</button></t>
    </Card>
    <Card title="'Title card B'">
      <t t-set-slot="content">
        <div>Card 2... [<t t-esc="state.b"/>]</div>
        <Counter />
      </t>
      <t t-set-slot="footer"><button t-on-click="() => this.inc('b', -1)">Decrement B</button></t>
    </Card> -->
  </div>
</templates>
