
body {
    margin: 0;
}

.lcd {
    border:3px solid green;
    background-color: #b1f302;
    padding: 15px;
    --led-color: black;
    --led-size: 5px;
    --led-gap:1px;
    box-sizing: content-box;
    max-width: calc( ( ( var(--led-size) + var(--led-gap) ) * 5 + var(--led-size) ) * 20 );
}
.filler {
    clear: both;
}
.char {
    /* display: inline-block; */
    margin-left:var(--led-size);
    margin-bottom:var(--led-size);
    float: right;
}

.row {
    background: fuchsia;
}

.bit {
    width:var(--led-size);
    height:var(--led-size);
    margin-right:var(--led-gap);
    margin-bottom:var(--led-gap);
    background: rgba(0,0,0,.1);
    display: block;
    float: left;
}
.bit.bit-1 {
    background: black;
    box-shadow: 2px 2px 1px rgba(0,0,0,.26), 0 0 1px 0.45px rgba(0,0,0,.56);
}