<templates>
  
<div t-name="Grid" class="grid" t-attf-style="left:#{grid.left}px; top:#{grid.top}px;">
    <div t-foreach="Array(grid.charsV)" t-as="y" t-key="y_index" class="grid-line">
        <t t-foreach="Array(grid.charsH)" t-as="x" t-key="x_index">
            <span class="char" t-attf-style="margin-right:#{char.gapH}px; margin-bottom:#{char.gapV}px;"></span>
        </t>
    </div>
    <div class="char-row">
        <span t-foreach="Array(props.cols)" t-as="i" t-key="i_index"><t t-raw="i" /></span>
    </div>
</div>

<div t-name="Root" class="main">
    <div class="wrapper">
      <div class="zoommable" t-att-style="zoom_style" t-on-mousemove="zoomed_mousemove">

        
        <DndImage />
        <!-- <t t-if="state.ready"> -->
          <Grid />
        <!-- </t> -->
      </div>
    </div>
     
                <textarea></textarea>
    
    <div class="cp">
        <div>
            <span> Grid Pos:<input type="number" t-model.number="grid.left"/>,  <input type="number" t-model.number="grid.top"/></span>
            <span> Chars H:<input type="number" t-model.number="grid.charsH"/> V:<input type="number" t-model.number="grid.charsV"/></span>
            <span> Gap H:<input type="number" t-model.number="char.gapH"/> V:<input type="number" t-model.number="char.gapV"/></span>
            <!-- <span>grid: <t t-esc="grid.left"/>, <t t-esc="grid.top"/></span> -->
        </div>
        <div>

            Zoom:  <select  t-model="state.zoom">
                <option value="0.5">50%</option>
                <option value="1.0">100%</option>
                <option value="2.0">200%</option>
                <option value="4.0">400%</option>
            </select>
            <!-- <span> Mouse: <t t-esc="mouse.x * (1/state.zoom)"/>, <t t-esc="mouse.y"/></span> -->
            <span> Mouse: <t t-esc="state.mousex"/>, <t t-esc="this.state.mousey"/></span>
        </div>
    </div>
</div>

</templates>
