body{
    background-color: blanchedalmond;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.zoommable {
    width:100%;
    height: 100%;
    transform-origin: top left;
    image-rendering: pixelated;
}
.wrapper{
    overflow: scroll;
    width: calc( 100vw - 300px);
    height: calc( 100vh - 50px);
    background: lime;
}
textarea {
    resize: none;
    width: 300px;
    /* height: calc (100vh - 50px); */
    background-color: azure;
    position: fixed;
    right: 0;
    top:0;
    bottom: 50px;
}
.cp {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background: rgb(184, 183, 190);
}
.cp > div {
    padding: 3px 5px;
    
}
input {
    width:40px;
}
.image_drop_area {
  min-width: 200px;
  min-height: 125px;
  border: 1px solid black;
  /* background-position: center; */
  /* background-size: cover;  */
  box-sizing: border-box;
}
.image_drop_area img{
    pointer-events: none;
}
.grid, .grid * {
    box-sizing: content-box;
    box-shadow: 0 0 1px 1px var( --color );
}
.grid{
    --color:lime;
    position: absolute;
    /* border: 2px solid lime; */
    min-width: 150px;
    min-height: 150px;
}
.grid-line{
    margin-bottom: 1px;
    /* border:1px solid blue; */
    --color:blue;
    display: flex;
}
.char {
    /* display: inline-block; */
    /* float: left; */
    /* border:1px solid red; */
    /* background-color: rgba(255, 0, 0, 0.26); */
    min-width: 5px;
    min-height: 8px;
}
.char-line{
    /* border:1px solid purple; */
    --color:purple;
    display: flex;
}

.led {
    display: block;
    border-radius: 50%;
    background-color: gold;
    /* --color:gold; */
    opacity: .4;
}