body{
    background-color: blanchedalmond;
    margin:0;
    padding:0;
}
.wrapper {
    width: calc( 100vw - 305px);
    height: calc( 100vh - 55px);
    overflow: scroll;
    background: lime;
}
textarea {
    width: 300px;
    /* height: calc (100vh - 50px); */
    background-color: azure;
    position: fixed;
    right: 0;
    top:0;
    bottom: 50px;
}
.cp {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background: fuchsia;
}
.image_drop_area {
  min-width: 200px;
  min-height: 125px;
  border: 1px solid black;
  /* background-position: center; */
  /* background-size: cover;  */
  box-sizing: border-box;
}
.image_drop_area img{
    pointer-events: none;
}